@model CompanyInputViewModel
@{
    ViewData["Title"] = "Create your company";
}


<h1  class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form asp-controller="Company" asp-action="Edit" id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.CompanyName" class="form-label"></label>
                    <input asp-for="@Model.CompanyName" class="form-control"  aria-required="true" />
                    
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.CompanyDescription" class="form-label"></label>
                    <textarea asp-for="@Model.CompanyDescription" type="text" class="form-control" aria-required="true"></textarea>
                    
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
