@model JobApplicationViewModel


             <td>@Model.Email</td>
             <td>@Model.Username</td>
             <td> 
                        @if(Model.ResumeId != null)
                        {
                            
                        <a class="mb-3 btn btn-primary" asp-area="" asp-controller="Resume" asp-action="Download" asp-route-id="@Model.ResumeId">Download resume</a>
                        }
             </td> 
             <td> 
              <a class="mb-3 btn btn-primary" asp-area="Employer" asp-controller="Interview" asp-action="ScheduleInterview" asp-route-userId="@Model.UserId "asp-route-jobListingId="@Model.JobListingId">Arrange Interview</a>
              </td>
             
